/* Colin Rudd */

body {
	margin: 5px auto;
	width: 60%;
	font: normal 100% Cambria, Georgia, serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	text-align: center;
}